*{
  margin: 0.5rem;
  padding: 0.5rem;
}
body{
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  
}
header{
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
}
  .menu{
    background-color: #5F6F94;
    display: flex;
  }
    .logo{
      background-color: #EF4F4F;
      flex: 1 1 auto;
    }
    .nav{
      background-color:#EF4F4F ;
      flex: 5 1 auto;
    }
    .social{
      background-color: #EF4F4F;
      flex: 1 1 auto;
    }
  .header-text{
    background-color:#FF7600 ;
  }
    h1{
      background-color: #FFC93C;
    }
section{
  background-color: black;
  display: flex;
}
  .articles{
   background-color: #4B778D; 
   display: flex;
   flex: 2 1 auto;
   flex-flow: row wrap;
  } 
    .article{
      background-color: #28B5B5;
      flex: 1 1 45%;
    }
    .text{
      background-color: #8FD9A8;
      flex: 1 1 100%;
    }
  aside{
    background-color: #EF4F4F;
    flex: 1 1 auto;
  }
    h3{
      background-color: #F9F871;
    }
    p{
      background-color: #F9F871;
    }
footer{
  background-color: black;
}
  .pie-pagina{
    background-color: #FFC75F;
  }
@media screen and (min-width:768px) and (max-width: 1023px){
  section{
    display: flex;
    flex-direction: column;
  }

}
@media screen and (max-width: 767px){
  .menu{
    display: flex;
    flex-direction: column;
  }
  section{
    display:flex;
    flex-direction: column;
  }
  .articles{
    display: flex;
    flex-direction: row;
  }
  

}

