*{
  margin: 0rem;
  padding: 0rem;
}
body{
  max-width: 1200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
header{
  background: url("../images/header.jpg");
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  height: 250px;
  position: relative;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
  .menu{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    
  }
    .logo{
      display: flex;
      flex: 1 1 auto;
      height:50px;
      padding: 0.5rem;
    }
      .logo img{
        max-height:100% ;
        object-fit:cover;
        padding: 0rem;
        animation: moverDerecha 1s ease-in;
      }
    .nav{
      justify-content: space-around;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .social{
      justify-content: flex-end;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
      a{
        text-decoration: none;
        color: gray;
        padding: 0.5rem;
      }
      a:hover{
        color: #EF4F4F;
      }
  .header-text{
    background-color: rgba(133,132,131,0.2);
    width: 80%;
    height: 5rem;
    align-self: center;
    margin-top: 0.5rem;
    position: absolute;
    bottom: 0;
    display: grid;
    justify-self: center;
  }
    h1{
      text-align: center;
      align-items: center;
      color: #DF7861;
      opacity: 0.8;
      font-size: 1.3rem;
      animation: moverArriba 1s ease-in;
    }
section{
  background-color:white;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
  .articles{
   background-color: #CFD2CF; 
   margin-right: 0.5rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
  } 
    .article{
      background-color: #F5EDDC;
      margin: 1rem 0.5rem;
      position: relative;
    }
      .image{
        position: relative;
        max-height: 426px;
        margin: 1rem;
      }
        .image img{
          width: 100%;
        }
        .date{
          position: absolute;
          color: yellow;
          bottom: 1rem;
          left: 1rem;
        }
      .titulo{
        background-color: #F29191;
        color: white;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-left: 0.5rem;
        margin: 0.2rem 1rem 0.2rem 1rem;
      }
      .article p{
        background-color: #F5EDDC;
        color: gray;
        margin: 1rem;
        padding-bottom: 1rem;
      }
      .article a{
        position: absolute;
        bottom: 0;
      }
    .text{
      background-color: #CFD2CF;
      margin: 1rem;
      text-align: center;
      display: grid;
      grid-column: 1 / 3;
    }
  aside{
    background-color: #CFD2CF;
    display: grid;
    grid-template-rows: 1fr 20fr;
  }
    h3{
      background-color: #CFD2CF;
      margin: 1rem;
      text-align: center;
    }
    p{
      background-color: #CFD2CF;
      margin: 1rem;
      text-align: center;
    }
footer{
  background-color: #CFD2CF;
  display: flex;
  justify-content: center;
}
  .pie-pagina{
    background-color: #F5EDDC;
    width: 90%;
    text-align: center;
  }
@media screen and (min-width:768px) and (max-width: 1023px){
  
  section{
    display: grid;
    grid-template-columns: 1fr;
  }
  aside{
    margin-top: 1rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
  }
  footer{
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 767px){

  .menu{
    display: flex;
    flex-direction: column;
    
  }
  .logo{
    max-height: 1.5rem;
    justify-content: center;
  }
  .nav{
    max-height: 1.5rem;
    display: flex;

  }
  
  .social{
    max-height: 1.5rem;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 0.5rem;
    display: flex;
  }
  section{
    display:flex;
    flex-direction: column;
  }
  .articles{
    display: flex;
    flex-direction: column;
  }
  aside{
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  footer{
    margin-right: 0.5rem;
  }

}
@keyframes moverArriba{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moverDerecha{
  0%{
    opacity: 0;
    transform:translateX(100px) ;
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}